<div class="longComponent" *ngIf="activarImgs === false">
    <!-- Cabecera -->

    <mat-card class="headerCard">
      <mat-card-header>

        <mat-card-title>Nombre: {{usuarioPerfil.nombre}}</mat-card-title>
        <mat-card-subtitle>Nombre de usuario: {{usuarioPerfil.nombreUsu}}</mat-card-subtitle>
        
      </mat-card-header>
      <mat-card-content>
        <img [src]="pasarImgPortada.imagenCompleta || 'assets/imgApp/no-imagen.jpg'" class="imgProtada" alt="imagen vacia">
        <!--<p>Estado: {{usuarioPerfil.estado}}</p>--> <!-- Frase que se muestra a los de fuera -->
        <!--<p>Numero de visitas: {{usuarioPerfil.numVisitas}}</p>-->
        <!-- estado y numero de visitas se integrara en un futuro -->
        <br>
        
        <form *ngIf="usuarioPropio" [formGroup]="formImgPortada" (change)="cambiarFotoPortada($event)">
          <input class="btnSubArch" type="file" accept=".png, .jpg, .gif, .bmp, .svg" formControlName='fotoPortadaFCN'>
        </form>
        <br>

        <button mat-raised-button color="warn" *ngIf="usuarioPropio || usuEsAdmin" (click)="borrarFotoPortada()">Eliminar foto</button>
        
      </mat-card-content>
      
    </mat-card>

    <div class="barraInfo">
    <!-- Datos personales (los que recogemos del usuario de quien es el perfil) -->
    <mat-card class="datosCard">
      <mat-card-title>Datos usuario</mat-card-title>
      <mat-card-content>
        <img mat-card-avatar [src]="pasarImgPerfil.imagenCompleta || 'assets/imgApp/no-imagen.jpg'" class="imgPerfil" alt="imagen vacia">

        <form *ngIf="usuarioPropio" [formGroup]="formImgPerfil" (change)="cambiarFotoPerfil($event)">
          <input class="btnSubArch" type="file" accept=".png, .jpg, .gif, .bmp, .svg" formControlName='fotoPerfilFCN'>
        </form>
        <br>

        <button mat-raised-button color="warn" *ngIf="usuarioPropio || usuEsAdmin" (click)="borrarFotoPerfil()">Eliminar foto</button>
        <br>

        <p>Nombre: {{usuarioPerfil.nombre}}</p>
        <p>Apellidos: {{usuarioPerfil.apellidos}}</p>
        <p>Fecha de nacimiento: {{usuarioPerfil.fechaNacimiento}}</p>

        <p>Nombre de usuario: {{usuarioPerfil.nombreUsu}}</p>
        <p>Fecha de alta: {{usuarioPerfil.fechaAlta}}</p><!-- poner si eso los anyos que esta en la plataforma -->
        <p>Fecha de ultimo login: {{usuarioPerfil.fechaUltLogin}}</p><!-- poner en un futuro -->

        <p>Pais: {{usuarioPerfil.pais}}</p>
        <p>Ciudad: {{usuarioPerfil.ciudad}}</p>
        <p>Region: {{usuarioPerfil.region}}</p>
        <p>Email: {{usuarioPerfil.email}}</p>
        <p>telefono: {{usuarioPerfil.telefono}}</p>
        
      </mat-card-content>
    </mat-card>
    
    <!-- fotos -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>Fotos</mat-card-title>
      </mat-card-header>
      <mat-card-content><!-- class="btnMostrar" -->
        <button mat-raised-button color = "primary" (click)="mostrarFotos()">Mostrar todas</button>
      </mat-card-content>
    </mat-card>
    
    <div *ngFor="let pasarImg of listaPasarImgMuestra" class="listaImgMuestra">
      <mat-card-content >
        <img [src]="pasarImg.imagenCompleta || 'assets/imgApp/no-imagen.jpg'" alt="sin imagen" class="imgMuestra">
      </mat-card-content>
    </div>
    <br>

    
    </div>

    <div class="zonaPublicaciones">
   
    <app-perfil-ent [usuarioEntra] = "usuarioPerfil" [usuarioVisitado] = "usuarioVisita"></app-perfil-ent> <!-- pasar usuarios -->
    
    <app-crear-publ *ngIf="usuarioPropio === true" [usuarioEntra] = "usuarioPerfil" [usuarioVisitado] = "usuarioVisita"></app-crear-publ>

    <!-- mostrar publicaciones -->
    <app-publicaciones [usuarioLogged] = "usuarioPerfil" [usuarioVisita] = "usuarioVisita" [urlGetPubl] = "urlGet"></app-publicaciones>

  </div>

</div>

<!-- zona de mostrar las imagenes -->
<div *ngIf="activarImgs === true">
  <button mat-raised-button color="primary" (click)="mostrarFotos()" class="btnVolverImg">Atras</button>

  <app-gestion-img [usuarioLogged] = "usuarioPerfil" [usuarioVisita] = "usuarioVisita"></app-gestion-img>
</div>


