<div class="longComponent">

<button mat-raised-button (click)="actualizarCambios()" class="marginBtnAct" color="primary">Cargar publicaciones</button> 
<h1 *ngIf="numPubl === 0" class="margenNoPubl">{{mensajeNoPubl}}</h1>

<div *ngIf="numPubl > 0">
<mat-card  *ngFor="let publCard of dataCardPubl"><!-- parte de publicaciones -->
    <mat-card-header>
        <img mat-card-avatar [src]="publCard.usuarioPublFoto || 'assets/imgApp/no-imagen.jpg'" alt="sin imagen">
        <mat-card-title>{{publCard.publObj.tituloPublicacion}}</mat-card-title>
        <mat-card-subtitle>{{publCard.publObj.usuarioPubl.nombreUsu}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p class="textoPubl">{{publCard.publObj.textoPublicacion}}</p>
        <!-- formulario de edicion, se pondra en un futuro -->
        <!-- <app-crear-publ *ngIf="actEdit === true" [usuarioEntra] = "usuarioLogged" [usuarioVisitado] = "usuarioVisita" [publEdit] = "publDatos"></app-crear-publ> -->
    </mat-card-content>
    <mat-card-footer>
        <p class="margenDatos" class="infoPrivaColor">{{publCard.fechaPubl}}</p>

        <p *ngIf="publCard.esPrivadaNum === 1" class="margenDatos" class="infoPrivaColor">Publicación Privada</p>
        <p *ngIf="publCard.esPrivadaNum === 0" class="margenDatos" class="infoPrivaColor">Publicación Pública</p>

        <!-- boton para editar, se pondra en un futuro-->
        <!-- <button mat-raised-button color="primary" class="marginBtnEditar" *ngIf="propioUsu === true">Editar</button> --><!-- edicion: ver mas adelante -->
        
        <button mat-raised-button color="warn" class="marginBtnBorrar" *ngIf="propioUsu === true || boolEsAdmin === true" (click)="borrarPubl(publCard.publObj.idPublicacion, false)">Borrar Publicación</button>
        
        <!-- boton para subir arriba en el scroll, se pondra en un futuro
        <button mat-raised-button class="marginBtnBorrar" *ngIf="publCard.actBtnSubir === true" (click)="eventoScrollArriba()">Subir arriba</button>
        -->
        <button mat-raised-button color="primary" class="marginBtnComentarios" (click)="mostrarComentarios(publCard.idPubl, false)">Comentarios</button>
        

        <div *ngIf="boolComment === true && idPublCommentAbrir === publCard.idPubl">

            <!-- crear comentario -->
            <div class="listacomment">
            <p class="colorGray">crear comentario</p>
            <form [formGroup] ="formularioComment" (submit)="onSubmmitComment(formularioComment.value, publCard.idPubl, publCard.publObj, $event)">
                <mat-form-field>
                    <mat-label>Comentario</mat-label>
                    <input matInput type="text" formControlName="textoComentarioFCN">
                </mat-form-field>
                <button mat-raised-button type="submit" color="primary" class="marginBtnComent">Comentar</button>
            </form>
            </div>

            <!-- card de comentarios -->
            <div *ngFor="let com of dataCardComment" class="listacomment">
            
                <mat-card-content>
                    <img class="estiloComentario" mat-card-avatar [src]="com.imgComment || 'assets/imgApp/no-imagen.jpg'" alt="sin imagen">
                    <p class="colorGray" >{{com.comment.usuarioComent.nombreUsu}}</p>
                    <p>{{com.comment.textoComentario}}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="warn" class="btnBorrarComment" *ngIf="propioUsu === true || boolEsAdmin === true || com.comment.usuarioComent.idUsu === usuarioVisita.idUsu" (click)="borrarComment(com.comment.idComentario)">Borrar</button>
                </mat-card-actions>
               
            </div>
        </div>
        
    </mat-card-footer>
</mat-card>


</div>

</div>