<div>
  <div>

    <mat-toolbar color='primary'>
      
      <mat-toolbar-row>
    
        <!-- boton ir atras -->
        <button mat-icon-button color="" aria-label="Atras" class="botonIcono" (click)="volverAtras()">
          <mat-icon>arrow_back</mat-icon>
        </button>
    
        <span>Network</span>
    
      </mat-toolbar-row>
    </mat-toolbar>
    
  <div>

  <mat-card class="boxmod">
    <mat-card-title>
      Politica de privacidad
    </mat-card-title>

    <mat-card-content>
      <p>Aqui es donde va la politica de privacidad</p>
    </mat-card-content>

  </mat-card>

</div>
