/*estilo del boton de salir*/
.btnSalir {
    margin-left: 40px;
    float: left;
    color: white;
}

.espaciadoToolbar{
    flex: 1 1 auto;
}


/*Zona de los botones del sidenav*/
mat-sidenav {
    background-color: #303F9F;
    color: white;   /* de letra */
    width: 200px;
    display: flex;
    height: 85vh;
}

/* Zona de contenido */
mat-sidenav-content {
    height: 85vh;
}

.contenidoNav {
    height: auto;
}

/* Estilo de los botones*/
.btnSideNav {
    width: 100%;
    text-align: left;
    font-size: 14px;
}

/* Estilo de letras */
h1 {
    margin: 20px;
}

p {
    margin: 20px;
}
