<div>
  
  <span class="subirArriba"></span>
  <!-- Implementar en el futuro -->
  <!-- span donde tiene que subir el enlace de subir -->

  <!-- formulario para crear entrada -->
  <form *ngIf="propioUsu === true" [formGroup]="formularioEnt" class="marginForm" (submit)="onSubmmit(formularioEnt.value, $event)">
    <mat-form-field>
      <mat-label>Titulo</mat-label>
      <input matInput type="text" formControlName="tituloFCNEntrada">
    </mat-form-field>
    <br>
    <mat-form-field class="inputLargo">
      <mat-label>Texto</mat-label>
      <textarea matInput formControlName="textoFCNEntrada"></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button type="submit" color="primary">Publicar entrada</button>
  </form> 
  <br>

   <mat-card *ngFor="let card of obsEntr | async"> <!-- let ent of listaEntr -->
    <mat-card-title>Entradas</mat-card-title>
    <mat-card-subtitle>{{card.titulo}}</mat-card-subtitle>
    <mat-card-content>
      <p>{{card.texto}}</p>
    </mat-card-content>
    <mat-card-footer>
      <p class="margenFecha">{{card.fecha}}</p>
    </mat-card-footer>
    <mat-card-actions>
      <!-- la edicion hacer mas adelante -->
      <!-- <button mat-raised-button color="primary" class="marginBtnEditar" *ngIf="propioUsu === true" (click)="activarEditEntradas()">Editar</button> -->
      <div *ngIf="card.noEntradas === false">
        <button mat-raised-button color="warn" *ngIf="propioUsu === true || boolEsAdmin === true" (click)="borrarEntr(card.idEntr)">Borrar</button>
      </div>
      
    </mat-card-actions>
  </mat-card>

  <mat-paginator
  [length] = "numEntr"
  [pageSize] = 1></mat-paginator>

</div>
