<div>

  <div>

    <mat-toolbar color='primary'>
      <mat-toolbar-row>
        <span>Network</span>
      </mat-toolbar-row>
    </mat-toolbar>
    
  <div>

  <mat-card class="boxmod">
    <mat-card-title>
      Login
    </mat-card-title>
    

    <mat-card-content>

      <form [formGroup]="formulario" (submit)="onSubmmit(formulario.value, $event)">
        
        <!-- Campo de email de entrada -->
        <mat-form-field class="form-group">
          <mat-label>Email de entrada</mat-label>
          <input matInput type="email" placeholder="example@gmail.com" formControlName="emailEntradaFCNLogin">
          <mat-error *ngIf="formulario.get('emailEntradaFCNLogin').hasError('email')">
            Formato email incorrecto
          </mat-error>
          <mat-error *ngIf="formulario.get('emailEntradaFCNLogin').hasError('required')">
            Email obligatorio
          </mat-error>
        </mat-form-field>
        <br/>

        <!-- campo de contraseña -->
        <mat-form-field class="form-group">
          <mat-label>Contraseña</mat-label>
          <input matInput type="password" formControlName="passwordFCNLogin">
          <mat-error *ngIf="formulario.get('passwordFCNLogin').hasError('required')">
            contraseña obligatoria
          </mat-error>
        </mat-form-field>
        <br/>

        <button mat-raised-button type="submit" color="primary">Entrar</button>
        <button mat-raised-button (click)="registrarUsu($event)">Registrarse</button>
        <br/>

        <button mat-button color="primary" (click)="politicaPrivacidad($event)">Politica de privacidad</button>

        <!-- se muestra si el usuario devuelto es incorrecto -->
        <mat-card-content>
          <div class="mat-body-1" *ngIf="usuarioValido == false">Usuario incorrecto, o no existente</div>
        </mat-card-content>
        
      </form>

    </mat-card-content>

  </mat-card>
  
</div>



