/*
.botonIcono{
    margin: 10px;
}
*/

/*
.colorSideNav {
    background-color: #3F51B5;
}

.letraSideNav {
    padding: 10px;
    background-color: #3F51B5;
    color: white;
}
*/

/*
mat-sidenav-container {
    height: 100%;
}
*/

/*
mat-sidenav, mat-sidenav-content {
    padding: 16px;
}
*/

/*
mat-sidenav {
    background-color: #303F9F;
    color: white;   
    width: 200px;
    height: 100%;
}

.btnSideNav {
    width: 100%;
    text-align: left;
    font-size: 14px;
}
*/

/*
app-app-inicio {
    height: 100%;
}

.contenidoNav {
    height: 100%;
}
*/
