<!-- <router-outlet></router-outlet> -->

<div>
<router-outlet></router-outlet>
</div>
<!--<router-outlet (selectorNumCompOut)="seleccionarValor($event)" (usuarioLogged)="obtenerUsuLogin($event)"></router-outlet>-->

<!-- componente de login (ocultar despues de logear) -->
<!--<app-login *ngIf="selectorNumComp == 1" [selectorNumCompInpLogin]="selectorNumComp" (selectorNumCompOut)="seleccionarValor($event)" (usuarioLogged)="obtenerUsuLogin($event)"></app-login>-->
<!-- (evento elemento hijo)="metodoPadre($event)" -->

<!-- componente de registro -->
<!-- <app-registro *ngIf="selectorNumComp == 2" [selectorNumCompInpReg]="selectorNumComp"></app-registro> -->

<!-- componente de politica de privacidad -->
<!--<app-politica-priv *ngIf="selectorNumComp == 3" [selectorNumCompInpPriv]="selectorNumComp"></app-politica-priv>-->

<!-- componente de sidenav (mostrar despues de logear) (Poner en app)-->
<!-- componentes se se muestran en las opciones del sidenav -->

<!--
<div class="contenidoNav">
<mat-sidenav-container *ngIf="selectorNumComp == 4 || selectorNumComp == 5">
  <mat-sidenav #sidenav mode="side" [(opened)]="sidenavOpen">
    
    <button class="btnSideNav" mat-button>Inicio</button>
    <br>

    <button class="btnSideNav" mat-button>Perfil</button>
    <br>

    <button class="btnSideNav" mat-button>Fotos</button>
    <br>

    <button class="btnSideNav" mat-button>Videos</button>
    <br>

    <button class="btnSideNav" mat-button>Amigos</button>
    <br>

    <button class="btnSideNav" mat-button>Opciones</button>
    <br>

    <button class="btnSideNav" mat-button>Salir</button>

  </mat-sidenav>
  <mat-sidenav-content>
    <app-app-inicio *ngIf="selectorNumComp == 4" [usuarioSelectCompInpInicio]="usuLogged"></app-app-inicio>

  </mat-sidenav-content>
</mat-sidenav-container>
-->




